<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<a href="/logout">
		LOGOUT
	</a>
	<h1>Lista foto:</h1>
	<a th:href="@{/amministratori/photo/create}">Create photo</a>
	<ul>
		<li
			th:each="photo : ${photos}"
			th:object="${photo}"
		>
			<a th:href="@{/amministratori/photo/{id} (id=*{id})}">
				[[ *{titolo} ]]
			</a>	
			<a th:href="@{/amministratori/photo/delete/{id} (id=*{id})}">
				delete
			</a>
		</li>
	</ul>
</body>
</html>